---
---

@import "{{ site.theme }}";

/* ==== color ==== */

$theme-dark: #457fb3;
$theme-light: #ddeeff;

/* ==== font setting ==== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-size: 16px;
  line-height: 1.8;
  color: rgba(#000, 0.8);
  font-family:
    "Inter",
    "BlinkMacSystemFont",
    "Hiragino Kaku Gothic ProN","Hiragino Sans",
    "Yu Gothic",Meiryo,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* ==== layout ==== */

body {
  padding: 30px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
}

header, footer {
  width: 250px;
  float: none;
}

footer {
  display: none;
}

section {
  width: 100%;
  margin-left: 300px;
}

@media print, screen and (max-width: 960px) {
  body {
    padding: 20px 10px;
  }
  .wrapper {
    flex-direction: column;
  }
  header, section, footer {
      width: auto;
  }
  header {
    padding: 0;
  }
  section {
    margin-left: 0;
  }
}

/* ==== hide sidebar objects ==== */

p.view {
  display: none;
}

/* ==== afes.info styles ==== */

section {
  h1 {
    // font-size: 2.2rem;
    // font-weight: 500;
    padding-bottom: .4rem;
    border-bottom: solid 2px $theme-dark;
    // margin-bottom: 1.2rem;
  }

  h2 {
    // font-size: 1.8rem;
    // font-weight: 500;
    padding: 0 0 .2rem .6rem;
    border-left: solid 0.8rem $theme-dark;
    // margin: 2rem 0 1rem 0;
  }

  h3 {
    // font-size: 1.5rem;
    // font-weight: 500;
    padding: 0;
    // margin-bottom: .8rem;
  }
}

/* ==== other ==== */

:not(pre) > code {
    padding: .2rem .4rem;
    margin: 0 .2rem;
    background: rgba($theme-dark, .1);
    vertical-align: middle;
    font-size: .92rem;
    border-radius: 4px;
    vertical-align: .08em;
    font-family: monospace;
}
